.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    width: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-section-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.register-section-label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.register-section-label-checkbox {
    font-size: 16px;
    font-weight: 400;
}

.register-section-input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    transition: 0.3s;
}

.register-section-container-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.register-section-checkbox {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Checkbox'ı en sola almak için eklendi */
}

.register-section-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-section-error {
    color: red;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.register-section-container-error {
    display: flex;
    flex-direction: column;
    padding: 10px;
}